<!-- develop basic angular component to get data from server list the data  -->
<div>
  <h1 class="title">{{ title }}</h1>
  <ul class="content">
    <li *ngFor="let user of userList async" class="item">
      {{ user.user_name }} - {{user.role_type}}<!-- Assuming 'name' and 'email' are properties of the User model -->
    </li>
  </ul>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="user_name">User Name:</label>
      <input type="text" id="user_name" formControlName="user_name">
      <!-- <div *ngIf="userForm.get('user_name').invalid && userForm.get('user_name').touched" class="error">User Name is required</div> -->
    </div>
    <div>
      <label for="user_email">User Email:</label>
      <input type="email" id="user_email" formControlName="user_email">
    </div>
    <div>
      <label for="user_email">User phone:</label>
      <input type="text" id="user_phone" formControlName="user_phone"/>
    </div>
    <div>
      <label for="nic">NIC</label>
      <input type="text" id="nic" formControlName="nic">
    </div>
    <div>
      <label for="role_type">Role type</label>
      <input type="text" id="role_type" formArrayName="role_type">
    </div>
    <div>
      <label for="logged_user_name">User name</label>
      <input type="text" id="logged_user_name" formArrayName="logged_user_name">
    </div>
    <div>
      <label for="logged_user_password">Password</label>
      <input type="text" id="logged_user_password" formControlName="logged_user_password">
    </div>
    <button type="submit" [disabled]="userForm.invalid">Submit</button>
  </form>
</div>
